.city-container {
  position: relative;
  display: inline-block;
}

.city-btn {
  padding: 8px 14px;
  background: #1f2937;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.city-menu {
  display: none;
  position: absolute;
  background: white;
  width: 180px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 10px;
}

.city-menu input {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
}

.city-menu div {
  padding: 6px;
  cursor: pointer;
}

.city-menu div:hover {
  background: #eee;
}
